In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [4]:
res = [i for i in glob.glob('DVIP_MNIST/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
    
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_MNIST.csv", index = False)

In [6]:
res = [i for i in glob.glob('DVIP_Rectangles/*')]
df2 = []
for f in res:
    try: 
        df2.append(pd.read_csv(f))
    except:
        continue
df2 = pd.concat(df2)
df2 = df2.loc[:, (df2 != df2.iloc[0]).any()] 
df2 = df2.drop(["name_flag", "dataset", "activation", "final_layer_noise"], axis=1)
df2.drop_duplicates(inplace = True)

In [ ]:
df2.to_csv("DVIP_Rectangles.csv", index = False)

# MNIST

In [9]:
df.query("regression_coeffs == 20")

,vip_layers,regression_coeffs,time,LOSS,NLL,Error
0,[1],20,5620.678489,1859.423462,0.133075,0.018601
0,"[30, 10]",20,9288.708834,2245.359619,0.075662,0.014300
0,"[30, 30, 10]",20,8336.097374,2658.790527,0.085205,0.017201
0,"[30, 30, 30, 10]",20,21329.276903,3042.567139,0.096199,0.019800
0,"[30, 30, 30, 30, 10]",20,10489.587105,44811.277344,0.709243,0.901800

# Rectangles

In [10]:
df2.query("iterations == 20000")

,epochs,iterations,vip_layers,regression_coeffs,time,LOSS_train,NLL_train,Error_train,AUC_train,LOSS,NLL,Error,AUC
0,167,20000,[1],20,445.961338,NaN,NaN,NaN,NaN,3518.364258,0.345029,0.1500,0.931509
0,167,20000,"[30, 1]",20,976.987571,NaN,NaN,NaN,NaN,3903.206299,0.311031,0.1240,0.948883
0,167,20000,"[30, 30, 1]",20,1248.941516,NaN,NaN,NaN,NaN,3649.013672,0.293098,0.1200,0.954350
0,167,20000,"[30, 30, 30, 1]",20,1528.041414,NaN,NaN,NaN,NaN,3505.476074,0.280851,0.1195,0.954773
0,167,20000,"[30, 30, 30, 30, 1]",20,5369.812323,NaN,NaN,NaN,NaN,3527.013184,0.277178,0.1165,0.956067