In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_Taxi/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_Taxi.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_Taxi/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_Taxi.csv", index = False)

# DVIP

In [4]:
import numpy as np
def std(x):
    return np.std(x)/np.sqrt(len(x))

In [5]:
df.groupby("vip_layers").agg(["mean", std])

           split                   time                      LOSS             \
            mean      std          mean          std         mean        std
vip_layers
[1]          9.5  1.28938   8396.868494  1255.789569   243.020881   0.101563
[2]          9.5  1.28938   5838.007218   717.266626  1093.918320  18.065763
[3]          9.5  1.28938  12156.856742  1121.654023  2090.863934  15.360194
[4]          9.5  1.28938  10920.721298  1829.089122  2239.525537  52.698259
[5]          9.5  1.28938  30931.355484  4720.228680  2916.851953  81.934703

                  RMSE                 NLL                  CRPS
                  mean       std      mean       std        mean       std
vip_layers
[1]         554.604978  0.192243  7.737249  0.000354  284.226567  0.208651
[2]         549.288344  0.593927  7.727516  0.001103  282.098943  0.320906
[3]         531.422371  1.592525  7.690146  0.003244  274.655048  0.689574
[4]         547.331334  1.030105  7.722515  0.002288  281.285216  0.448037
[5]         538.949844  2.231248  7.704292  0.004717  277.608853  0.900220

# DGP

In [6]:
df2.groupby("layers").agg(["mean", std])

       split          iterations       batch            NLL            \
        mean      std       mean  std   mean  std      mean       std
layers
1        9.5  1.28938   500000.0  0.0  100.0  0.0  7.736808  0.000613
2        9.5  1.28938   500000.0  0.0  100.0  0.0  7.734432  0.000597
3        9.5  1.28938   500000.0  0.0  100.0  0.0  7.734350  0.000626
4        9.5  1.28938   500000.0  0.0  100.0  0.0  7.745065  0.001256
5        9.5  1.28938   500000.0  0.0  100.0  0.0  7.746968  0.000606

              RMSE                  CRPS                     time
              mean       std        mean       std           mean          std
layers
1       554.223137  0.328661  283.793183  0.191977    6529.086480   488.565298
2       552.943800  0.319429  283.154024  0.212104   30180.703929  2368.382857
3       552.909533  0.334429  282.996450  0.214311   47249.323152  4684.879156
4       558.826865  0.686848  285.732284  0.287572   88300.365240  5462.140922
5       559.877170  0.325627  286.226154  0.119960  136139.878905   940.947607