In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_Year/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["dataset", "activation", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_Year.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_Year/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_Year.csv", index = False)

# DVIP

In [4]:
df

,vip_layers,name_flag,time,LOSS,RMSE,NLL,CRPS
0,[1],NaN,1217.742666,229.330627,10.236126,3.744894,5.457592
0,[2],NaN,6068.001588,2453.693604,9.591840,3.679452,5.096882
0,[3],NaN,5203.455256,4271.672363,9.235660,3.639766,4.885398
0,[4],NaN,7118.521080,4751.248535,9.244363,3.639925,4.912755
0,[5],NaN,8942.142156,5047.607910,9.244369,3.639804,4.871127

# DGP

In [9]:
df2.query("iterations == 150000")

,split,layers,iterations,batch,dataset,NLL,RMSE,CRPS,time
0,0,1,150000,100,year,3.628939,9.119720,4.826032,1374.172678
0,0,2,150000,100,year,3.609139,8.956029,4.719559,40341.824077
0,0,3,150000,100,year,3.601321,8.898208,4.681045,78711.843870
0,0,4,150000,100,year,3.600705,8.894548,4.669147,120943.283028
0,0,5,150000,100,year,3.599087,8.879516,4.668420,160358.339897