In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_SUSY/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df["ACC"] = 1 - df["Error"]
df.to_csv("DVIP_SUSY.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_SUSY/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_SUSY.csv", index = False)

# DVIP

In [4]:
df

,vip_layers,time,LOSS,NLL,Error,AUC,ACC
0,[1],7230.076036,4704.296875,0.456962,0.213283,0.857255,0.786717
0,[2],11829.753971,5751.021484,0.429959,0.198684,0.874288,0.801316
0,[3],22380.687842,6639.510742,0.429050,0.198677,0.874914,0.801323
0,[4],29128.962740,7556.004883,0.427886,0.197747,0.875500,0.802253
0,[5],39538.995816,8145.788086,0.427808,0.197889,0.875690,0.802111

# DGP

In [5]:
df2

,split,layers,iterations,batch,dataset,NLL,ACC,AUC,time
0,0,1,500000,100,SUSY,0.436884,0.797662,0.872765,3837.152752
0,0,2,500000,100,SUSY,0.432159,0.799900,0.874954,31233.031777
0,0,3,500000,100,SUSY,0.431440,0.800758,0.875172,123088.287285
0,0,4,500000,100,SUSY,0.431643,0.800670,0.875125,174560.799047
0,0,5,500000,100,SUSY,0.432299,0.799834,0.874964,100173.042715