In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_Airline/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_Airline.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_Airline/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_Airline.csv", index = False)

# DVIP

In [4]:
df

  vip_layers         time         LOSS       RMSE       NLL       CRPS
0        [1]  1058.912909   243.962799  39.104942  5.110451  18.652100
0        [2]  1933.779033   781.751404  37.918660  5.081051  18.007589
0        [3]  4476.365008  1169.510620  37.821460  5.072818  17.778057
0        [4]  5795.220173  1523.116943  37.777718  5.076582  17.753923
0        [5]  9077.224314  1860.864014  37.715797  5.070365  17.655338

# DGP

In [8]:
df2

,split,layers,iterations,batch,dataset,NLL,RMSE,CRPS,time
0,0,1,150000,100,airline,5.095962,38.578801,18.128838,1137.669891
0,0,2,150000,100,airline,5.085434,38.155285,17.841666,4798.495938
0,0,3,150000,100,airline,5.074278,37.927602,17.599903,8445.868029
0,0,4,150000,100,airline,5.080939,38.089546,17.517559,12331.714914
0,0,5,150000,100,airline,5.080811,38.154625,17.675943,16119.457366