In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_Airline/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "bnn_layer", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_Airline.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_Airline/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_Airline.csv", index = False)

# DVIP

In [4]:
df.query("iterations == 150000 and bnn_layer_str == 'SimplerBayesLinear'")

,epochs,iterations,vip_layers,bnn_layer_str,time,LOSS_train,RMSE_train,NLL_train,CRPS_train,LOSS,RMSE,NLL,CRPS
0,21,150000,[1],SimplerBayesLinear,2863.372885,228.688461,34.405994,4.957704,16.668003,243.963867,39.104900,5.110449,18.651999
0,21,150000,[2],SimplerBayesLinear,6906.589947,765.848206,32.668724,4.903744,15.708744,783.641357,37.915356,5.080632,18.009136
0,21,150000,[3],SimplerBayesLinear,10597.938081,1150.213501,32.240570,4.885465,15.371801,1169.499146,37.820057,5.072998,17.776743
0,21,150000,[4],SimplerBayesLinear,12993.124559,1503.883423,32.198840,4.885902,15.370171,1523.117676,37.774406,5.076326,17.752045
0,21,150000,[5],SimplerBayesLinear,14791.117530,1807.942993,32.078888,4.878809,15.272834,1828.015991,37.867268,5.075607,17.764275

# DGP

In [6]:
df2.query("iterations == 150000")

,split,layers,iterations,batch,dataset,NLL,RMSE,CRPS,time
0,0,1,150000,100,airline,5.095962,38.578801,18.128838,1137.669891
0,0,2,150000,100,airline,5.085434,38.155285,17.841666,4798.495938
0,0,3,150000,100,airline,5.074278,37.927602,17.599903,8445.868029
0,0,4,150000,100,airline,5.080939,38.089546,17.517559,12331.714914
0,0,5,150000,100,airline,5.080811,38.154625,17.675943,16119.457366