In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as Circle

import numpy as np


import warnings
warnings.filterwarnings("ignore")

Load CSV and drop columns where all the values coincide. For example, the activation used.

In [17]:
df = pd.read_csv("DVIP_Airline.csv")
df = df.loc[:, (df != df.iloc[0]).any()] 
df["dataset_name"] = "Airline"
#df2 = pd.read_csv("DVIP_Year.csv")
#df2 = df2.loc[:, (df2 != df2.iloc[0]).any()] 
#df2["dataset_name"] = "Year"
#df = pd.concat([df, df2])

Group table by their common parameters and compute mean and std over split

In [18]:

full_df = df.groupby(["dataset_name", "bnn_layer_str", "vip_layers"]).mean()

                                                    time   LOSS_train  \
dataset_name bnn_layer_str      vip_layers
Airline      BayesLinear        [1]          2549.515483   227.977692
                                [2]          7757.141100   752.352417
                                [3]          2271.910097  1171.124512
                                [4]          3002.693748  1410.562378
                                [5]          3822.820396  1584.395996
             SimplerBayesLinear [1]          1013.902512   228.960175
                                [2]          1891.934971   754.457275
                                [3]          2791.146210  1158.042114
                                [4]          3716.437730  1510.015259
                                [5]         13841.826462  1829.861572

                                            RMSE_train  NLL_train  CRPS_train  \
dataset_name bnn_layer_str      vip_layers
Airline      BayesLinear        [1]          32.627300   4.904460   15.268711
                                [2]          32.472855   4.897046   15.158813
                                [3]          32.455536   4.893969   15.200035
                                [4]          32.349712   4.889088   15.109524
                                [5]          32.409588   4.890489   15.131679
             SimplerBayesLinear [1]          34.739006   4.967025   16.188431
                                [2]          33.359978   4.924889   15.669621
                                [3]          32.921078   4.908299   15.514772
                                [4]          32.854614   4.906235   15.380412
                                [5]          32.759052   4.899916   15.411545

                                                   LOSS       RMSE       NLL  \
dataset_name bnn_layer_str      vip_layers
Airline      BayesLinear        [1]          244.420258  37.431137  5.068892
                                [2]          769.803406  37.507380  5.070240
                                [3]         1188.721924  37.579224  5.068663
                                [4]         1428.443726  37.536854  5.067586
                                [5]         1601.815186  37.465153  5.063439
             SimplerBayesLinear [1]          242.205048  38.949550  5.099471
                                [2]          770.037842  38.035030  5.079294
                                [3]         1173.479370  37.523590  5.060304
                                [4]         1525.616699  37.520060  5.060616
                                [5]         1845.690430  37.485790  5.057250

                                                 CRPS
dataset_name bnn_layer_str      vip_layers
Airline      BayesLinear        [1]         17.251175
                                [2]         17.209820
                                [3]         17.289799
                                [4]         17.207800
                                [5]         17.188030
             SimplerBayesLinear [1]         17.831268
                                [2]         17.604881
                                [3]         17.414291
                                [4]         17.273880
                                [5]         17.377563

In [19]:
doubly = pd.read_csv("DGP_Airline.csv")
#doubly2 = pd.read_csv("DGP_Year.csv")
#doubly = pd.concat([doubly1, doubly2])

In [22]:
doubly = doubly.groupby(["dataset", "layers"]).mean()

In [24]:
full_df.query("bnn_layer_str == 'SimplerBayesLinear'")

                                                    time   LOSS_train  \
dataset_name bnn_layer_str      vip_layers
Airline      SimplerBayesLinear [1]          1013.902512   228.960175
                                [2]          1891.934971   754.457275
                                [3]          2791.146210  1158.042114
                                [4]          3716.437730  1510.015259
                                [5]         13841.826462  1829.861572

                                            RMSE_train  NLL_train  CRPS_train  \
dataset_name bnn_layer_str      vip_layers
Airline      SimplerBayesLinear [1]          34.739006   4.967025   16.188431
                                [2]          33.359978   4.924889   15.669621
                                [3]          32.921078   4.908299   15.514772
                                [4]          32.854614   4.906235   15.380412
                                [5]          32.759052   4.899916   15.411545

                                                   LOSS      RMSE       NLL  \
dataset_name bnn_layer_str      vip_layers
Airline      SimplerBayesLinear [1]          242.205048  38.94955  5.099471
                                [2]          770.037842  38.03503  5.079294
                                [3]         1173.479370  37.52359  5.060304
                                [4]         1525.616699  37.52006  5.060616
                                [5]         1845.690430  37.48579  5.057250

                                                 CRPS
dataset_name bnn_layer_str      vip_layers
Airline      SimplerBayesLinear [1]         17.831268
                                [2]         17.604881
                                [3]         17.414291
                                [4]         17.273880
                                [5]         17.377563

In [23]:
doubly

                split  iterations  batch       NLL       RMSE       CRPS  \
dataset layers
airline 1           0      150000    100  5.095962  38.578801  18.128838
        2           0      150000    100  5.085434  38.155285  17.841666
        3           0      150000    100  5.074278  37.927602  17.599903
        4           0      150000    100  5.080939  38.089546  17.517559
        5           0      150000    100  5.080811  38.154625  17.675943

                        time
dataset layers
airline 1        1137.669891
        2        4798.495938
        3        8445.868029
        4       12331.714914
        5       16119.457366